* {
	margin:0;
	padding:0;
	border: 0;
}
html {
	background-color: #fdfcf8;
	min-width: 1240px;
	display: block;
}
body {
	background: #fdfcf8;
}
div {
	display: block;
}
li {
	list-style-type: none;
}
#wrapper {
	margin: 0 auto;
	display: block;
	width: 1240px;
	text-align: left;
	overflow:hidden;
}
#header_first {
	margin: 0 auto;
	width: 1220px;
	height: 100px;
	background-color: #dcdcdc;
}
#header_first a,
#header_first h1 {
	width: 500px;
	height: 100px;
	display: block;
	float: left;
	font-size: 2em;
	color: red;
}
#search {
	width: 300px;
	height: 100px;
	float: right;
}
#navtop {
	width: 1220px;
	height: 48px;
	display: block;
	margin: auto;
	background-color: #c6c6c6;
}
#menu {
	width: 1220px;
	height: 48px;
	display: block;
	position: relative;
}
#menu a:hover {
	background-color: #3f3f3f;
}
#html, #javascript, #asp, #serverside, #xml, #websevices, #webbuilding {
	height: 48px;
	display: block;
	text-align: center;
	position: absolute;
}
#html {
	left: 0;
	width: 155px;
}
#javascript {
	left: 155px;
	width: 157px;
}
#asp {
	left: 312px;
	width: 167px;
}
#serverside {
	left: 479px;
	width: 158px;
}
#xml {
	left: 637px;
	width: 101px;
}
#websevices {
	left: 738px;
	width: 185px;
}
#webbuilding {
	left: 923px;
	width: 177px;
}
#menu a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 24px;
	color: black;
}
#navleft {
	margin-bottom:-3000px;
	padding-bottom:3000px;
	width: 181px;
	float: left;
	margin-left: 10px;
	border-style: solid;
	border-width: 0 2px;
	border-color: #c6c6c6;
  overflow:hidden;
}
#navleft h2, #navleft ul, #navright h2, #navright ul {
	padding-left: 15px;
}
#maincontent {
	padding-top: 20px;
	float: left;
	width: 850px;
	text-align: center;
}
.idea {
	margin-left: 20px;
	padding: 35px 0 20px 0;
	width: 810px;
	border-bottom: 1px solid #c6c6c6;
	min-height: 100px;
}

#navright {
	margin-bottom:-3000px;
	padding-bottom:3000px;
	border-style: solid;
	border-width: 0 2px;
	border-color: #c6c6c6;
	float: left;
	width: 181px;
  overflow:hidden;
}
#footer {
	margin-left: 10px;
	width: 1220px;
	clear: both;
	text-align: center;
}
#p1 {
  background-color: #c6c6c6;
  padding: 30px 0;
  display: block;
}
#p2 {
  margin: 30px 0;
}
