* {
  margin: 0 auto;
  padding: 0;
}

body {
  max-width: 500px;
}

a {
  display: block;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  text-align: left;
  line-height: 30px;
  text-decoration: none;
}

a:hover {
  color: #fff;
  background-color: #337ab7;
}
