* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.todo-wrapper {
    position: relative;
    width: 400px;
    margin: 10px auto;
    background-color: #fff;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size: 14px;
    color: #424242;
    border: 1px solid #0067b8;
    padding: 20px;
}

/* 添加组件 */
.todo-input-component {

}

/* 添加组件内的输入框 */
.todo-input {

}

/* 添加组件内的添加按钮 */
.todo-add {

}

/* 添加组件的显示开关 */
.todo-switch {
position: absolute;
width: 20px;
height: 20px;
right: 20px;
bottom: 30px;
background-color: green;
}

/* 添加组件显示时开关状态 */
.todo-open {
    background-color: red;
    top: 30px;
}

/* 任务清单列表 */
.todo-list {
    /* min-height: 30px; */
}

/* 任务清单列表中的所有清单项 */
.todo-item {
    margin-top: 20px;
}

.todo-neiRong {

}

.todo-btn-wancheng {

}

.todo-btn-shanchu {
    
}

/* 完成状态 */
.todo-wancheng {
    background-color: red;
}
